<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="231a657e-2ada-4dc6-985f-971702dd721b" Alias="analytics" Level="3">
  <Info>
    <Name>Analytics</Name>
    <Icon>icon-chart-curve color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>