<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2d2626ed-231d-4f6d-a5c1-37e1c01f38c5" Alias="bannerTab" Level="2">
  <Info>
    <Name>Banner Tab</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3532a8ad-34c4-46bb-a1fd-63fc208b11a0</Key>
      <Name>Banners</Name>
      <Alias>banners</Alias>
      <Definition>254ec924-8b65-47ad-ac9f-1c7240ffd79a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banners</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Banners</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>