<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a44bdf7d-8e4e-40c8-8974-b998658c7b1c" Alias="blogCategory" Level="3">
  <Info>
    <Name>Blog Category</Name>
    <Icon>icon-post-it color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Global+Shared+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>