<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17ab527c-4a53-484f-88ba-f6d67d4d314d" Alias="blogCategories" Level="3">
  <Info>
    <Name>Blog Categories</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Global+Shared+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a44bdf7d-8e4e-40c8-8974-b998658c7b1c">blogCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>