<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e73b0b8-7894-4af5-a7ee-90e7b01df62b" Alias="blogPostPage" Level="3">
  <Info>
    <Name>Blog Post Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Parent>
    <Compositions>
      <Composition Key="2d2626ed-231d-4f6d-a5c1-37e1c01f38c5">bannerTab</Composition>
      <Composition Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Composition>
      <Composition Key="4d843825-ee7c-4877-8ae8-3ae92ba450f4">contentTab</Composition>
    </Compositions>
    <DefaultTemplate>BlogPostPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1ee33b89-9ff0-43e3-a4a1-52cd1c80eaef">BlogPostPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3fce4fd7-ad7d-49ee-945d-fec32683c426</Key>
      <Name>Blog Categories</Name>
      <Alias>blogCategories</Alias>
      <Definition>26d0a41f-81a6-4004-8345-076bb18dfaa4</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Configuration</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>