<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30256d53-d4f0-4a21-8951-a53996bbd262" Alias="blogListingPage" Level="3">
  <Info>
    <Name>Blog Listing Page</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Parent>
    <Compositions>
      <Composition Key="2d2626ed-231d-4f6d-a5c1-37e1c01f38c5">bannerTab</Composition>
      <Composition Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Composition>
      <Composition Key="3e1017a3-6170-4e09-867b-856bbd2b9735">listingPageTab</Composition>
    </Compositions>
    <DefaultTemplate>BlogListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a53ebaed-ebe7-46cd-b816-ea59a54d76e5">BlogListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3e73b0b8-7894-4af5-a7ee-90e7b01df62b">blogPostPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>