<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="05c8f404-990d-429d-ac4b-4c57e9550ebc" Alias="emails" Level="4">
  <Info>
    <Name>Emails</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Shared+Content/Emails</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e6333b9d-ee27-4231-821f-9c6c946a5b2c">email</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>adef2860-257a-4b16-8289-1a557ad23c4e</Key>
      <Name>Footer</Name>
      <Alias>footer</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c0991529-6df9-460d-b4ef-43165c505eee</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>