<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4308b4a4-6324-4693-9e68-269ecd18d54c" Alias="errorPage" Level="3">
  <Info>
    <Name>Error Page</Name>
    <Icon>icon-application-error color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Parent>
    <Compositions>
      <Composition Key="2d2626ed-231d-4f6d-a5c1-37e1c01f38c5">bannerTab</Composition>
      <Composition Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Composition>
      <Composition Key="4d843825-ee7c-4877-8ae8-3ae92ba450f4">contentTab</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a24244c7-06d8-4200-8c14-db00af847b01">ErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f10ac53a-9604-41ae-b1f1-c452c5488c42</Key>
      <Name>Error Code</Name>
      <Alias>errorCode</Alias>
      <Definition>4c5bd31e-e80d-4eb6-a4ed-d0c237cf3f6b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Configuration</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>