<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe36b508-9511-477c-b6e9-9d7361cfc1ed" Alias="forgottenPasswordPage" Level="3">
  <Info>
    <Name>Forgotten Password Page</Name>
    <Icon>icon-help-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Parent>
    <Compositions>
      <Composition Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Composition>
    </Compositions>
    <DefaultTemplate>ForgottenPasswordPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e24d171f-33ef-4664-8c85-171746f12ecc">ForgottenPasswordPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>781c73da-bf89-4250-9070-044bd7ab857c</Key>
      <Name>Additional Text</Name>
      <Alias>additionalText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional text displayed beneath the title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>89ed5536-4e62-4c2c-890a-b293dfa135d3</Key>
      <Name>Reset Request Email</Name>
      <Alias>resetRequestEmail</Alias>
      <Definition>c20c1fc1-50ef-4b4d-b4e9-a58e7d1569e3</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The email which the user who submitted the request will get sent]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Emails</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4ca06677-0224-423f-83b9-f6a373507f05</Key>
      <Name>Reset Request Success Text</Name>
      <Alias>resetRequestSuccessText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text displayed when a user has successfully requested to reset their password]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>924d98b6-5e50-4d57-82bf-a86f5c2699d8</Key>
      <Name>Reset Success Email</Name>
      <Alias>resetSuccessEmail</Alias>
      <Definition>c20c1fc1-50ef-4b4d-b4e9-a58e7d1569e3</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The email which the user who has successfully reset their password will get sent]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Emails</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Emails</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>