<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7ee37010-c4c7-4f74-ad2d-4aa1ee8aba1b" Alias="globalSharedContent" Level="3">
  <Info>
    <Name>Global Shared Content</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Global+Shared+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="17ab527c-4a53-484f-88ba-f6d67d4d314d">blogCategories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>