<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d06c3f4-3e7b-451d-b39a-aa88fc16c481" Alias="homePage" Level="3">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Parent>
    <Compositions>
      <Composition Key="2d2626ed-231d-4f6d-a5c1-37e1c01f38c5">bannerTab</Composition>
      <Composition Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Composition>
      <Composition Key="4d843825-ee7c-4877-8ae8-3ae92ba450f4">contentTab</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc619e31-16bd-4c71-911d-12c64b618777">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="30256d53-d4f0-4a21-8951-a53996bbd262">blogListingPage</ContentType>
    <ContentType Key="4308b4a4-6324-4693-9e68-269ecd18d54c">errorPage</ContentType>
    <ContentType Key="d810da8c-517c-4219-8a1c-80e50d9e6422">extranetPage</ContentType>
    <ContentType Key="fe36b508-9511-477c-b6e9-9d7361cfc1ed">forgottenPasswordPage</ContentType>
    <ContentType Key="ba145b68-30b7-4dba-8cd4-46f052a40178">loginPage</ContentType>
    <ContentType Key="3dd164d0-0aed-4448-9ead-9e7702ce0094">productListingPage</ContentType>
    <ContentType Key="00385af9-2653-4ec3-a9d1-cc9e02933784">signupPage</ContentType>
    <ContentType Key="73e522ed-7e76-4994-a8ad-bf632d599414">standardContentPage</ContentType>
    <ContentType Key="e4fc7fe0-13c6-4ec4-8f11-a2b7b3d48a48">teamListingPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>