<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e1017a3-6170-4e09-867b-856bbd2b9735" Alias="listingPageTab" Level="2">
  <Info>
    <Name>Listing Page Tab</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a61ae2fa-7adb-4da8-bc7f-9d2cd14de974</Key>
      <Name>Items To Display</Name>
      <Alias>itemsToDisplay</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If left empty, 16 will be displayed by default]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Configuration</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>