<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="886fe1fb-ee0d-446c-a454-196167459254" Alias="navigation" Level="3">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-item-arrangement color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Shared+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a8d386fa-dad6-4503-a2a8-6049fde265ed</Key>
      <Name>Footer Navigation</Name>
      <Alias>footerNavigation</Alias>
      <Definition>f2c9f5d4-fa12-466f-851f-3cb65b67b0b3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6f9c7f43-aeb3-47a7-ab82-df0c82c903d9</Key>
      <Name>Top Navigation</Name>
      <Alias>topNavigation</Alias>
      <Definition>2799d7c1-acbf-40ed-b499-156338668f41</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Top Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0096c626-162c-4795-9500-e3c4ae965408</Key>
      <Name>User Navigation</Name>
      <Alias>userNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>User Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Top Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer Navigation</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>User Navigation</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>