<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3dd164d0-0aed-4448-9ead-9e7702ce0094" Alias="productListingPage" Level="3">
  <Info>
    <Name>Product Listing Page</Name>
    <Icon>icon-item-arrangement color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2d2626ed-231d-4f6d-a5c1-37e1c01f38c5">bannerTab</Composition>
      <Composition Key="3e1017a3-6170-4e09-867b-856bbd2b9735">listingPageTab</Composition>
    </Compositions>
    <DefaultTemplate>ProductListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a4fe932d-5e88-4ff6-8495-055045385c3f">ProductListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="62caae7e-1587-44aa-a3c3-f202a998c998">productPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>