<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="62caae7e-1587-44aa-a3c3-f202a998c998" Alias="productPage" Level="3">
  <Info>
    <Name>Product Page</Name>
    <Icon>icon-untitled color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2d2626ed-231d-4f6d-a5c1-37e1c01f38c5">bannerTab</Composition>
      <Composition Key="4d843825-ee7c-4877-8ae8-3ae92ba450f4">contentTab</Composition>
    </Compositions>
    <DefaultTemplate>ProductPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4d53111f-c224-4eae-bb9f-d2dfe766edf7">ProductPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>846744f8-1c32-42e7-b40a-74c1ad9b5749</Key>
      <Name>Product</Name>
      <Alias>product</Alias>
      <Definition>672c18d6-b591-4dff-80ce-7ede4d30e328</Definition>
      <Type>UmbracoDev.ProductPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Configuration</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>