<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ea270b8-2ed5-4898-82e1-674926cfd2c9" Alias="sharedContent" Level="3">
  <Info>
    <Name>Shared Content</Name>
    <Icon>icon-repeat color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Shared+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="05c8f404-990d-429d-ac4b-4c57e9550ebc">emails</ContentType>
    <ContentType Key="886fe1fb-ee0d-446c-a454-196167459254">navigation</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>