<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00385af9-2653-4ec3-a9d1-cc9e02933784" Alias="signupPage" Level="3">
  <Info>
    <Name>Signup Page</Name>
    <Icon>icon-add color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Parent>
    <Compositions>
      <Composition Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Composition>
    </Compositions>
    <DefaultTemplate>SignupPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d0c17fcb-fd70-405f-b628-516a4c5f8f02">SignupPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4c23e289-d249-4e6d-b0ab-b2197c9ceced</Key>
      <Name>Already Logged In Text</Name>
      <Alias>alreadyLoggedInText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to displayed instead of the form to inform the user they are already logged in.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6e18e2ea-41a6-4eaf-a3e8-4215cfca926e</Key>
      <Name>Login Text</Name>
      <Alias>loginText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>