<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="93c896eb-16e4-4bb3-95c3-1fede59c61df" Alias="teamMemberPage" Level="3">
  <Info>
    <Name>Team Member Page</Name>
    <Icon>icon-user color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Parent>
    <Compositions>
      <Composition Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Composition>
    </Compositions>
    <DefaultTemplate>TeamMemberPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="15db07f4-5306-4c0f-b198-3bd054233ad1">TeamMemberPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>