<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4fc7fe0-13c6-4ec4-8f11-a2b7b3d48a48" Alias="teamListingPage" Level="3">
  <Info>
    <Name>Team Listing Page</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Parent>
    <Compositions>
      <Composition Key="16e6fe57-1f23-4166-a702-423cf3ea9f6b">basePage</Composition>
    </Compositions>
    <DefaultTemplate>TeamListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="446e4f87-be57-4ba3-9488-4bcc14078793">TeamListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="93c896eb-16e4-4bb3-95c3-1fede59c61df">teamMemberPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>