<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ee0e0ab-7835-4e64-b201-cf0094f773fc" Alias="website" Level="2">
  <Info>
    <Name>Website</Name>
    <Icon>icon-globe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0d06c3f4-3e7b-451d-b39a-aa88fc16c481">homePage</ContentType>
    <ContentType Key="6983a3f8-a449-46e5-a7a6-9abfeb05198e">settings</ContentType>
    <ContentType Key="2ea270b8-2ed5-4898-82e1-674926cfd2c9">sharedContent</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>082bb9c7-a012-458d-ace8-81bdba9b1599</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If left empty, the page name will be used]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>