<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules xdt:Transform="InsertIfMissing">
        <rule name="DefaultCategoryProductRewrite" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='DefaultCategoryProductRewrite')">
          <match url="(.*)/c-([0-9]+)/c-([0-9]+)/p-([0-9]+)" />
          <action type="Rewrite" url="catalog/product.aspx?catalog={R:2}&amp;category={R:3}&amp;product={R:4}" />
        </rule>
        <rule name="DefaultProductRewrite" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='DefaultProductRewrite')">
          <match url="(.*)/c-([0-9]+)/p-([0-9]+)" />
          <action type="Rewrite" url="catalog/product.aspx?catalog={R:2}&amp;product={R:3}" />
        </rule>
        <rule name="DefaultCategoryRewrite" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='DefaultCategoryRewrite')">
          <match url="(.*)/c-([0-9]+)/c-([0-9]+)" />
          <action type="Rewrite" url="catalog.aspx?catalog={R:2}&amp;category={R:3}" />
        </rule>
        <rule name="DefaultCatalogRewrite" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='DefaultCatalogRewrite')">
          <match url="(.*)/c-([0-9]+)" />
          <action type="Rewrite" url="catalog.aspx?catalog={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
