<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Umbraco.Core.ReservedPaths" value="~/ucommerceapi" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(@key='Umbraco.Core.ReservedPaths')" />
    </appSettings>
</configuration>

