<?xml version="1.0" encoding="utf-8"?>
<Content Key="59d81187-331d-481d-9cb8-1b7e6ae69554" Alias="A Product" Level="4">
  <Info>
    <Parent Key="e01f5966-72e0-4a14-b498-fe9cff93ffc1">Some Products</Parent>
    <Path>/SiteA/Home/SomeProducts/AProduct</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <NodeName Default="A Product" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d53111f-c224-4eae-bb9f-d2dfe766edf7">ProductPage</Template>
  </Info>
  <Properties>
    <banners>
      <Value></Value>
    </banners>
    <mainContent>
      <Value></Value>
    </mainContent>
    <product>
      <Value>{
  "name": "Product 1",
  "description": "Product 1 Descritpion",
  "price": 100,
  "id": 1
}</Value>
    </product>
  </Properties>
</Content>