<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea7a268d-8dbe-4559-ae49-f99a405ece82" Alias="About Us" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContentPage</ContentType>
    <NodeName Default="About Us" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ae3151ae-515b-41e4-8169-7a0e5cdb4e9a">StandardContentPage</Template>
  </Info>
  <Properties>
    <banners>
      <Value></Value>
    </banners>
    <mainContent>
      <Value></Value>
    </mainContent>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>