<?xml version="1.0" encoding="utf-8"?>
<Content Key="3eeec3d9-a8c8-4c8a-b0f2-e5af25b7fd62" Alias="Blog" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListingPage</ContentType>
    <NodeName Default="Blog" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a53ebaed-ebe7-46cd-b816-ea59a54d76e5">BlogListingPage</Template>
  </Info>
  <Properties>
    <banners>
      <Value></Value>
    </banners>
    <itemsToDisplay>
      <Value>20</Value>
    </itemsToDisplay>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[null]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>