<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5b6b601-7783-41cb-b2ed-629a184ecb1b" Alias="Blog Categories" Level="2">
  <Info>
    <Parent Key="892b6aad-e115-425c-95ad-d9af197b6bf2">Global Shared Content</Parent>
    <Path>/GlobalSharedContent/BlogCategories</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategories</ContentType>
    <NodeName Default="Blog Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>