<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe24a8b9-72e9-46d9-98fa-685f340f61de" Alias="Blog Post 1" Level="4">
  <Info>
    <Parent Key="3eeec3d9-a8c8-4c8a-b0f2-e5af25b7fd62">Blog</Parent>
    <Path>/SiteA/Home/Blog/BlogPost1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <NodeName Default="Blog Post 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ee33b89-9ff0-43e3-a4a1-52cd1c80eaef">BlogPostPage</Template>
  </Info>
  <Properties>
    <banners>
      <Value></Value>
    </banners>
    <blogCategories>
      <Value>umb://document/3975af953ab84aa68adf1223cd0ab332</Value>
    </blogCategories>
    <mainContent>
      <Value></Value>
    </mainContent>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>