<?xml version="1.0" encoding="utf-8"?>
<Content Key="3975af95-3ab8-4aa6-8adf-1223cd0ab332" Alias="Category A" Level="3">
  <Info>
    <Parent Key="a5b6b601-7783-41cb-b2ed-629a184ecb1b">Blog Categories</Parent>
    <Path>/GlobalSharedContent/BlogCategories/CategoryA</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategory</ContentType>
    <NodeName Default="Category A" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>