<?xml version="1.0" encoding="utf-8"?>
<Content Key="80e37736-1afe-4e6b-bc2f-d609fba05783" Alias="Contact Us" Level="4">
  <Info>
    <Parent Key="ea7a268d-8dbe-4559-ae49-f99a405ece82">About Us</Parent>
    <Path>/SiteA/Home/AboutUs/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContentPage</ContentType>
    <NodeName Default="Contact Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ae3151ae-515b-41e4-8169-7a0e5cdb4e9a">StandardContentPage</Template>
  </Info>
  <Properties>
    <banners>
      <Value></Value>
    </banners>
    <mainContent>
      <Value></Value>
    </mainContent>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>