<?xml version="1.0" encoding="utf-8"?>
<Content Key="c97cc01e-3631-477b-aa05-2db9302956c6" Alias="Emails" Level="3">
  <Info>
    <Parent Key="83618577-04fc-43c3-812c-baa8a46c0f91">Shared Content</Parent>
    <Path>/SiteA/SharedContent/Emails</Path>
    <Trashed>false</Trashed>
    <ContentType>emails</ContentType>
    <NodeName Default="Emails" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footer>
      <Value>&lt;p&gt;Footer Content&lt;/p&gt;</Value>
    </footer>
    <header>
      <Value>&lt;p&gt;Header Content&lt;/p&gt;</Value>
    </header>
  </Properties>
</Content>