<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8217398-3c45-4c91-a47c-ad3dc42d61c7" Alias="Extranet" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/Extranet</Path>
    <Trashed>false</Trashed>
    <ContentType>extranetPage</ContentType>
    <NodeName Default="Extranet" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58cd8999-bf73-479d-b1ab-5bfc4923b976">ExtranetPage</Template>
  </Info>
  <Properties />
</Content>