<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd5baf84-03ee-480b-b334-d5f34f981da9" Alias="Forgotten Password" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/ForgottenPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>forgottenPasswordPage</ContentType>
    <NodeName Default="Forgotten Password" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e24d171f-33ef-4664-8c85-171746f12ecc">ForgottenPasswordPage</Template>
  </Info>
  <Properties>
    <additionalText>
      <Value>&lt;p&gt;To reset your password, enter your email below then click on the reset password button. Once you receive the password reset link via email simply click the link and follow on the on screen instructions.&lt;/p&gt;
&lt;p&gt;Remember your password? You can login &lt;a href="/{localLink:umb://document/c556e10755734ab28916a1128eaeae72}" title="Login"&gt;here&lt;/a&gt;. Or if you don't have an account, you can signup &lt;a href="/{localLink:umb://document/41ae12b5f1f94b35a1bd792af1d1cff4}" title="Signup"&gt;here&lt;/a&gt;.&lt;/p&gt;</Value>
    </additionalText>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <resetRequestEmail>
      <Value>umb://document/f94f864cd154459baa5b642a6ab83609</Value>
    </resetRequestEmail>
    <resetRequestSuccessText>
      <Value>&lt;p&gt;Your password reset request has been sent to your email.&lt;/p&gt;</Value>
    </resetRequestSuccessText>
    <resetSuccessEmail>
      <Value>umb://document/832f78d0574d4a36b5c9d32c79b4bd61</Value>
    </resetSuccessEmail>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>