<?xml version="1.0" encoding="utf-8"?>
<Content Key="892b6aad-e115-425c-95ad-d9af197b6bf2" Alias="Global Shared Content" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSharedContent</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSharedContent</ContentType>
    <NodeName Default="Global Shared Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>