<?xml version="1.0" encoding="utf-8"?>
<Content Key="a048d952-b058-4157-91a7-23edda69f6fb" Alias="Home" Level="2">
  <Info>
    <Parent Key="12a0361b-9c16-4be9-af0d-31698b4fad98">Site A</Parent>
    <Path>/SiteA/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc619e31-16bd-4c71-911d-12c64b618777">HomePage</Template>
  </Info>
  <Properties>
    <banners>
      <Value></Value>
    </banners>
    <mainContent>
      <Value></Value>
    </mainContent>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>