<?xml version="1.0" encoding="utf-8"?>
<Content Key="c556e107-5573-4ab2-8916-a1128eaeae72" Alias="Login" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <NodeName Default="Login" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ac1d473-2da1-4af3-8187-2053bf71ee93">LoginPage</Template>
  </Info>
  <Properties>
    <forgottenPasswordText>
      <Value>&lt;p&gt;Forgotten your password? Reset it &lt;a href="/{localLink:umb://document/bd5baf8403ee480bb334d5f34f981da9}" title="Forgotten Password"&gt;here&lt;/a&gt;.&lt;/p&gt;</Value>
    </forgottenPasswordText>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <registerText>
      <Value>&lt;p&gt;Don't have an account? Signup &lt;a href="/{localLink:umb://document/41ae12b5f1f94b35a1bd792af1d1cff4}" title="Signup"&gt;here&lt;/a&gt;.&lt;/p&gt;</Value>
    </registerText>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>