<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6cf3546-7137-429c-802c-4476bfa49961" Alias="Navigation" Level="3">
  <Info>
    <Parent Key="83618577-04fc-43c3-812c-baa8a46c0f91">Shared Content</Parent>
    <Path>/SiteA/SharedContent/Navigation</Path>
    <Trashed>false</Trashed>
    <ContentType>navigation</ContentType>
    <NodeName Default="Navigation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerNavigation>
      <Value>[{"key":"ab477844-5309-458c-84bb-0dd1f1b14c34","name":"Useful Links","ncContentTypeAlias":"footerNavigationSection","title":"Useful Links","items":"[{\"name\":\"About Us\",\"udi\":\"umb://document/ea7a268d8dbe4559ae49f99a405ece82\"},{\"name\":\"Blog\",\"udi\":\"umb://document/3eeec3d9a8c84c8ab0f2e5af25b7fd62\"},{\"name\":\"Our Team\",\"udi\":\"umb://document/4ad417bdfe324ae2986991918c8a3bac\"}]"}]</Value>
    </footerNavigation>
    <topNavigation>
      <Value>[{"key":"27c51248-4cd2-402d-b57b-7f21e43d7eaa","name":"About Us","ncContentTypeAlias":"topNavigationItem","topLevelItem":"[{\"name\":\"About Us\",\"udi\":\"umb://document/ea7a268d8dbe4559ae49f99a405ece82\"}]","subItems":"[]"},{"key":"8478e11b-9dc5-4969-9591-35c94228dec2","name":"Our Team","ncContentTypeAlias":"topNavigationItem","topLevelItem":"[{\"name\":\"Our Team\",\"udi\":\"umb://document/4ad417bdfe324ae2986991918c8a3bac\"}]","subItems":"[]"}]</Value>
    </topNavigation>
    <userNavigation>
      <Value>[{"name":"Forgotten Password","udi":"umb://document/bd5baf8403ee480bb334d5f34f981da9"},{"name":"Extranet","udi":"umb://document/c82173983c454c91a47cad3dc42d61c7"}]</Value>
    </userNavigation>
  </Properties>
</Content>