<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ad417bd-fe32-4ae2-9869-91918c8a3bac" Alias="Our Team" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/OurTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>teamListingPage</ContentType>
    <NodeName Default="Our Team" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="446e4f87-be57-4ba3-9488-4bcc14078793">TeamListingPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value></Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value></Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value></Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>