<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dee6621-5324-4c53-a47f-c4b583fe8100" Alias="Page Not Found" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <NodeName Default="Page Not Found" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a24244c7-06d8-4200-8c14-db00af847b01">ErrorPage</Template>
  </Info>
  <Properties>
    <banners>
      <Value></Value>
    </banners>
    <errorCode>
      <Value>["404"]</Value>
    </errorCode>
    <mainContent>
      <Value></Value>
    </mainContent>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>