<?xml version="1.0" encoding="utf-8"?>
<Content Key="832f78d0-574d-4a36-b5c9-d32c79b4bd61" Alias="Reset Password Success" Level="4">
  <Info>
    <Parent Key="c97cc01e-3631-477b-aa05-2db9302956c6">Emails</Parent>
    <Path>/SiteA/SharedContent/Emails/ResetPasswordSuccess</Path>
    <Trashed>false</Trashed>
    <ContentType>email</ContentType>
    <NodeName Default="Reset Password Success" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value>&lt;p&gt;You have successfully reset your password.&lt;/p&gt;</Value>
    </body>
    <from>
      <Value></Value>
    </from>
    <subject>
      <Value></Value>
    </subject>
  </Properties>
</Content>