<?xml version="1.0" encoding="utf-8"?>
<Content Key="58adbb5c-c52f-4808-bc53-278b0262a612" Alias="Settings" Level="2">
  <Info>
    <Parent Key="12a0361b-9c16-4be9-af0d-31698b4fad98">Site A</Parent>
    <Path>/SiteA/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <googleTagManagerCode>
      <Value></Value>
    </googleTagManagerCode>
    <robots>
      <Value>UserAgent: *
Disallow *umbraco*
Disallow *assets*</Value>
    </robots>
  </Properties>
</Content>