<?xml version="1.0" encoding="utf-8"?>
<Content Key="83618577-04fc-43c3-812c-baa8a46c0f91" Alias="Shared Content" Level="2">
  <Info>
    <Parent Key="12a0361b-9c16-4be9-af0d-31698b4fad98">Site A</Parent>
    <Path>/SiteA/SharedContent</Path>
    <Trashed>false</Trashed>
    <ContentType>sharedContent</ContentType>
    <NodeName Default="Shared Content" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>