<?xml version="1.0" encoding="utf-8"?>
<Content Key="41ae12b5-f1f9-4b35-a1bd-792af1d1cff4" Alias="Signup" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/Signup</Path>
    <Trashed>false</Trashed>
    <ContentType>signupPage</ContentType>
    <NodeName Default="Signup" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0c17fcb-fd70-405f-b628-516a4c5f8f02">SignupPage</Template>
  </Info>
  <Properties>
    <alreadyLoggedInText>
      <Value>&lt;p&gt;You are already logged in...&lt;/p&gt;</Value>
    </alreadyLoggedInText>
    <loginText>
      <Value>&lt;p&gt;Already have an account? Login &lt;a href="/{localLink:umb://document/c556e10755734ab28916a1128eaeae72}" title="Login"&gt;here&lt;/a&gt;.&lt;/p&gt;</Value>
    </loginText>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value>0</Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value>[]</Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value>[]</Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>