<?xml version="1.0" encoding="utf-8"?>
<Content Key="12a0361b-9c16-4be9-af0d-31698b4fad98" Alias="Site A" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteA</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <NodeName Default="Site A" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value></Value>
    </title>
  </Properties>
</Content>