<?xml version="1.0" encoding="utf-8"?>
<Content Key="e01f5966-72e0-4a14-b498-fe9cff93ffc1" Alias="Some Products" Level="3">
  <Info>
    <Parent Key="a048d952-b058-4157-91a7-23edda69f6fb">Home</Parent>
    <Path>/SiteA/Home/SomeProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>productListingPage</ContentType>
    <NodeName Default="Some Products" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4fe932d-5e88-4ff6-8495-055045385c3f">ProductListingPage</Template>
  </Info>
  <Properties>
    <banners>
      <Value></Value>
    </banners>
    <itemsToDisplay>
      <Value></Value>
    </itemsToDisplay>
  </Properties>
</Content>