<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea7c059e-6362-48a4-b73c-486c990e4a10" Alias="Team Member 1" Level="4">
  <Info>
    <Parent Key="4ad417bd-fe32-4ae2-9869-91918c8a3bac">Our Team</Parent>
    <Path>/SiteA/Home/OurTeam/TeamMember1</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberPage</ContentType>
    <NodeName Default="Team Member 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="15db07f4-5306-4c0f-b198-3bd054233ad1">TeamMemberPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value></Value>
    </metaDescription>
    <metaNoIndexNoFollow>
      <Value></Value>
    </metaNoIndexNoFollow>
    <metaTitle>
      <Value></Value>
    </metaTitle>
    <userSitemapDisplay>
      <Value></Value>
    </userSitemapDisplay>
    <xmlSitemapDisplay>
      <Value></Value>
    </xmlSitemapDisplay>
  </Properties>
</Content>