<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1eee5bb-9428-44c7-82bd-5b0941b2afff" Alias="1020 200X300" Level="3">
  <Info>
    <Parent Key="790d7d7c-878e-4f67-9066-1dfdb19d4a37">Generic</Parent>
    <Path>/Images/Generic/X300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <NodeName Default="1020 200X300" />
    <SortOrder>3</SortOrder>
    <FileHash>199203203240324510624218219295105120248149135</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value>{"src":"/media/xxsp3yji/1020-200x300.jpg","crops":null}</Value>
    </umbracoFile>
  </Properties>
</Media>