<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ab85d03-c340-4605-a9f3-7812ac0b7c99" Alias="310 1920X1080" Level="3">
  <Info>
    <Parent Key="790d7d7c-878e-4f67-9066-1dfdb19d4a37">Generic</Parent>
    <Path>/Images/Generic/X1080</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <NodeName Default="310 1920X1080" />
    <SortOrder>1</SortOrder>
    <FileHash>19919753103254127908222112552547116548</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value>{"src":"/media/avolqcsa/310-1920x1080.jpg","crops":null}</Value>
    </umbracoFile>
  </Properties>
</Media>