<?xml version="1.0" encoding="utf-8"?>
<Media Key="282e2d1e-45d5-474c-8a11-be004dbdf6e3" Alias="689 1920X1080" Level="3">
  <Info>
    <Parent Key="790d7d7c-878e-4f67-9066-1dfdb19d4a37">Generic</Parent>
    <Path>/Images/Generic/X1080</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <NodeName Default="689 1920X1080" />
    <SortOrder>2</SortOrder>
    <FileHash>1022912366417713815315094228126126244193126</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value>{"src":"/media/dawd2kgv/689-1920x1080.jpg","crops":null}</Value>
    </umbracoFile>
  </Properties>
</Media>