<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f480648-8688-4eab-ba20-619349110903" Alias="856 200X300" Level="3">
  <Info>
    <Parent Key="790d7d7c-878e-4f67-9066-1dfdb19d4a37">Generic</Parent>
    <Path>/Images/Generic/X300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <NodeName Default="856 200X300" />
    <SortOrder>0</SortOrder>
    <FileHash>235940111266915491342361971831662008612</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value>{"src":"/media/jydeqd2i/856-200x300.jpg","crops":null}</Value>
    </umbracoFile>
  </Properties>
</Media>