<?xml version="1.0" encoding="utf-8"?>
<Media Key="790d7d7c-878e-4f67-9066-1dfdb19d4a37" Alias="Generic" Level="2">
  <Info>
    <Parent Key="cbe2452f-7434-4866-8dad-004b5b6a3e64">Images</Parent>
    <Path>/Images/Generic</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <NodeName Default="Generic" />
    <SortOrder>0</SortOrder>
    <Hash></Hash>
  </Info>
  <Properties />
</Media>