<div class="usync-user-boolean-value">

    <div>
        <umb-toggle on-click="vm.toggleDefault()"
                    checked="vm.defaultValue()"
                    label-on="Default on"
                    label-off="Default off"
                    show-labels="true"
                    label-position="right">
        </umb-toggle>
    </div>

    <div>
        <umb-toggle on-click="vm.toggleUser()"
                    checked="vm.userControlled()"
                    label-on="User can set"
                    label-off="Locked"
                    show-labels="true"
                    label-position="right">
        </umb-toggle>
    </div>

</div>


