<?xml version="1.0" encoding="utf-8"?>
<DataType Key="254ec924-8b65-47ad-ac9f-1c7240ffd79a" Alias="Banners - Nested Content" Level="3">
  <Info>
    <Name>Banners - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "standardBanner",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title || 'Standard Banner'}}"
    },
    {
      "ncAlias": "videoBanner",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title || 'Video Banner'}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>