<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c20c1fc1-50ef-4b4d-b4e9-a58e7d1569e3" Alias="Email Picker" Level="2">
  <Info>
    <Name>Email Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/sharedContent/emails",
    "id": null
  },
  "Filter": "email",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>