<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c5bd31e-e80d-4eb6-a4ed-d0c237cf3f6b" Alias="Error Code" Level="2">
  <Info>
    <Name>Error Code</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Project+Specific</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "403"
    },
    {
      "id": 2,
      "value": "404"
    },
    {
      "id": 3,
      "value": "500"
    }
  ]
}]]></Config>
</DataType>