<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2c9f5d4-fa12-466f-851f-3cb65b67b0b3" Alias="Footer Navigation Sections" Level="3">
  <Info>
    <Name>Footer Navigation Sections</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "footerNavigationSection",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title || 'Footer Section ' + $index}}"
    }
  ],
  "MinItems": null,
  "MaxItems": 4,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>