<?xml version="1.0" encoding="utf-8"?>
<DataType Key="362c38a2-d474-46f2-ab34-b5b3a338e4c5" Alias="Main Content - Nested Content" Level="3">
  <Info>
    <Name>Main Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "richTextEditor",
      "ncTabAlias": "Content",
      "nameTemplate": "Rich Text Editor"
    },
    {
      "ncAlias": "fullWidthImage",
      "ncTabAlias": "Content",
      "nameTemplate": "Full Width Image"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>