<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65deccc2-a46c-40a4-b2ff-a2a5275e1848" Alias="Product Picker" Level="2">
  <Info>
    <Name>Product Picker</Name>
    <EditorAlias>UmbracoDev.ProductPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Project+Specific</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>