<?xml version="1.0" encoding="utf-8"?>
<DataType Key="672c18d6-b591-4dff-80ce-7ede4d30e328" Alias="Single Product Picker" Level="2">
  <Info>
    <Name>Single Product Picker</Name>
    <EditorAlias>UmbracoDev.ProductPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Project+Specific</Folder>
  </Info>
  <Config><![CDATA[{
  "numberOfProducts": 1
}]]></Config>
</DataType>