<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e18dad33-14db-46d3-81e4-fd14de0f697d" Alias="Single Url Picker" Level="1">
  <Info>
    <Name>Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>