<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6dafc1dc-035a-4dce-91bf-e9b266ac9ce2" Alias="Sitemap Display" Level="2">
  <Info>
    <Name>Sitemap Display</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Project+Specific</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Exclude Self"
    },
    {
      "id": 2,
      "value": "Exclude Self and Children"
    }
  ]
}]]></Config>
</DataType>