<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3cb67478-d785-42bd-b5da-2086e5125e15" Alias="Standard Banner" Level="3">
  <Info>
    <Name>Standard Banner</Name>
    <EditorAlias>UmbracoDev.ResponsiveImage</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Project+Specific/Banners</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "name": "Mobile",
      "width": 480,
      "height": 180,
      "breakPoint": 0,
      "breakpoint": 320
    },
    {
      "name": "Tablet",
      "width": 1024,
      "height": 300,
      "breakPoint": 0,
      "breakpoint": 768
    },
    {
      "name": "Desktop",
      "width": 1920,
      "height": 768,
      "breakPoint": 0,
      "breakpoint": 1920
    }
  ]
}]]></Config>
</DataType>