<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2799d7c1-acbf-40ed-b499-156338668f41" Alias="Top Navigation Items - Nested Content" Level="3">
  <Info>
    <Name>Top Navigation Items - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "topNavigationItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{topLevelItem[0].name}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>